
<!-- loading spinner -->
<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>

<!-- display guestbook posts -->
<div class="cards">
    <mat-card *ngFor="let post of posts">
        <mat-card-title>{{post.name}}</mat-card-title>
        <mat-card-subtitle>{{post.timestamp}}</mat-card-subtitle>
        <button *ngIf="this.guestbookService.isAuthed()" mat-mini-fab color="primary" aria-label="delete button" class="button" (click)="deletePost(post)">
            <mat-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
        <mat-card-content class="message">
            <div [innerHTML]="post.message"></div>
        </mat-card-content>
    </mat-card>
</div>